* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../img/cartographer.png) repeat #00aeff;
  font-family: 'Righteous', cursive;
}

.container {
}

/**/

.mr {
  margin-right: 10px;
}


.ml {
  margin-left: 10px;
}

.mb {
  margin-bottom: 10px;
}

.mt {
  margin-top: 10px;
}

.circle {
  background-color: #3D3D3D;
  width: 295px;
  height: 295px;
  margin: 100px auto 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 50%;
}

.tile {
  width: 120px;
  height: 120px;
  display: inline-block;
}

.green-tile {
  background-color: rgba(0, 255, 0, .3);
  border-radius: 100% 0 0 0;
}

.red-tile {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 0 100% 0 0;
}

.yellow-tile {
  background-color: rgba(255, 255, 0, 0.3);
  border-radius: 0 0 0 100%;
}

.blue-tile {
  background-color:rgba(0, 0, 255, 0.2);
  border-radius: 0 0 100% 0;
}

.flash-1 {
  background-color: rgba(0, 255, 0, 1);
}

.flash-2 {
  background-color: rgba(255, 0, 0, 1);
}

.flash-3 {
  background-color: rgba(255, 255, 0, 1);
}

.flash-4 {
  background-color: rgba(0, 0, 255, 1);
}

.has-pointer {
  cursor: pointer;
}

/* ######### CENTER CONTROLS ######### */

.controls {
  height: 170px;
  width: 170px;
  background-color: #F7F9F9;
  text-align: center;
  padding: 1px;
  border-radius: 50%;
  border: 5px solid #3D3D3D;
  position: absolute;
}

.game-header {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.disp-btns > * {
  display: inline-block;
}

.disp-btns p {
  font-size: .8rem;
  font-weight: bold;
  margin-top: 1rem;;
}

.dig-disp {
  height: 30px;
  width: 40px;
  font-size: 1.4rem;
  letter-spacing: 3px; 
  color: #A82D05;
  background-color: #541602;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: inset 0 0 5px #000;
  margin: 0 10px;
  line-height: 30px;
}

button {
  width: 15px;
  height: 15px;
  border: 1px solid #6C7A89;
  box-shadow: inset 0 0px 2px #000,
                    0 1px 3px -1px #000;
  border-radius: 50%;
  position: relative;
  top: -8px;
  cursor: pointer;
  margin: 0 10px;
  outline: none;
}

button:active {
  box-shadow: 0 0 0;
  transform: translateY(2px);
}

.start-btn {
  background-color: red;
}

.strict-contain {
  position: relative;
}

.strict-btn {
  background-color: yellow;
}

.strict-light {
  width: 5px;
  height: 5px;
  background-color:#1E1B18;
  position: absolute;
  left: 15px;
  top: -18px;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.4);
}

.str-light-on {
  background-color: #44AF69;
}

.power-contain {
  margin-top: 2rem;  
}

.power-labels,
.slider-outer {
  display: inline-block;
}

.power-labels {
  position: relative;
  top: -5px;
  font-size: .8rem;
}

.power-labels:first-child {
  padding-right: 5px;
}

.power-labels:last-child {
  padding-left: 5px;
}

.slider-outer {
  width: 30px;
  height: 15px;
  background-color: #77756E;
  padding: 2px;
  border-radius: 3px;
}

.slider-inner {
  width: 15px;
  height: 11px;
  background-color:#084C61;
  border-radius: 3px;
  position: relative;
}

/* For JS use, to slide the power switch to the right*/
.slider-right {
  left: 26px;
}

.test-light {
  background-color: hotpink;
}




@media (min-width: 465px) {
  .circle {
    width: 450px;
    height: 450px;
  }

  .tile {
    width: 200px;
    height: 200px;
  }

  .controls {
    height: 275px;
    width: 275px;
    border: 10px solid #3D3D3D;
  }

  .game-header {
    font-size: 5.5rem;
    margin-top: 3rem;
  }

  button {
    width: 30px;
    height: 30px;
    border: 2px solid #6C7A89;
    box-shadow: inset 0 0px 2px #000,
                      0 2px 4px -1px #000;
    border-radius: 50%;
    position: relative;
    top: -6px;
  }

  .disp-btns > * {
    margin: 0 6px;
  }

  .disp-btns p {
    font-size: 1.2rem;
  }

  .dig-disp {
    height: 40px;
    width: 50px;
    font-size: 1.8rem;
    line-height: 40px;
  }

  .strict-light {
    width: 8px;
    height: 8px;
    left: 21px;
    top: -20px;
  }

  .power-labels {
    top: -10px;
  }

  .power-labels:first-child {
    padding-right: 5px;
  }

  .power-labels:last-child {
    padding-left: 5px;
  }

  .slider-outer {
    width: 60px;
    height: 30px;
    border-radius: 5px;
  }

  .slider-inner {
    width: 30px;
    height: 26px;
    border-radius: 5px;
  }

}